Date Formatting and URL creator
[{"id":"60c2d2809830987c","type":"group","z":"ee36c7ae2e284ce4","name":"Time Formatting and URL creation","style":{"label":true},"nodes":["ed77ddae6e2860ba","6382e3ab69e2b352","78e997feb0576c58"],"x":24,"y":39,"w":582,"h":82},{"id":"ed77ddae6e2860ba","type":"debug","z":"ee36c7ae2e284ce4","g":"60c2d2809830987c","name":"Formatted URL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":80,"wires":[]},{"id":"6382e3ab69e2b352","type":"function","z":"ee36c7ae2e284ce4","g":"60c2d2809830987c","name":"URL Creator","func":"var len = msg.payload.length;\nvar BaseURL = \"http://www.website.com/\";\nvar today = new Date();\nvar year = today.getFullYear();\nvar yr = today.getFullYear().toString().slice(-2);\nvar months = { 1: \"jan\", 2: \"feb\", 3: \"mar\", 4: \"apr\", 5: \"may\", 6: \"jun\", 7: \"jul\", 8: \"aug\", 9: \"sep\", 10: \"oct\", 11: \"nov\", 12: \"dec\" };\nvar month = today.getMonth();\nvar monthName = months[month];\nvar date = today.getDate();\nvar file = \"Image\"\nvar ext = \".png\"\nvar link = [\"\"];\nfor (let i = 0; i < len; i++) {\n    if (i < 10) { \n        var x = \"0\" + i.toString()\n        } else {\n            var x = i.toString()\n        }\n    link[i] = BaseURL + year + \"/\" + date + monthName + yr + \"/\" + file + x + ext;\n}\n\nmsg.payload = link;\n// msg.payload = BaseURL + year + \"/\" + date + monthName + yr + \"/\" + file;\n/* for (let i = 0; i < 3; i++) {\n    msg.link.i = BaseURL + year + \"/\" + monthName + \"/\" + date + monthName + yr + \"/\" + file + ext;\n    return msg;\n} */\n\nreturn msg;\n\n//http://website.com/2021/nov/13nov21/Image1.jpeg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":80,"wires":[["ed77ddae6e2860ba"]]},{"id":"78e997feb0576c58","type":"inject","z":"ee36c7ae2e284ce4","g":"60c2d2809830987c","name":"Inbound URLs","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"file01.pdf\",\"file02.pdf\",\"file03.pdf\",\"file04.pdf\",\"file05.pdf\",\"file06.pdf\",\"file07.pdf\",\"file08.pdf\",\"file09.pdf\",\"file10.pdf\",\"file11.pdf\",\"file12.pdf\",\"file13.pdf\",\"file14.pdf\",\"file15.pdf\",\"file16.pdf\"]","payloadType":"json","x":140,"y":80,"wires":[["6382e3ab69e2b352"]]}]
